@page "/profile"

<PageTitle>Profile</PageTitle>

<div class="page-header">
    <div>
        <h1 class="page-title">Profile</h1>
        <p class="page-subtitle">Manage your profile here</p>
    </div>
</div>

<div class="container">
    <div class="card rounded-0">
        <div class="card-header d-flex flex-row align-items-center justify-content-start gap-md">
            <div class="avatar d-flex align-items-center justify-content-center bg-primary text-white rounded-circle"
                 style="width: 100px; height: 100px; font-size: 24px;">
                <span class="avatar-initials">JD</span>
            </div>
            <div>
                <p><strong>Username:</strong> johndoe</p>
                <p><strong>Email:</strong>
                    <a href="mailto:j.d@gmail.com">
                        John Doe
                    </a>
                </p>
                <p><strong>Member Since:</strong> January 1, 2024</p>

            </div>
        </div>
        <div class="card-body">

        </div>
    </div>
</div>